{% extends 'base.html' %}
{% load staticfiles %}

{% block mapbox %}
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet'/>
    <style> #map {position:absolute; top:100px; right:10px; left:0; bottom:0; width:75%; height:400px;}</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div id="map"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
    var map = L.mapbox.map('map', 'nwalk.k1fod52i');
    var county_style = {
        color: "yellow",
        weight: 2,
        opacity: 1,
        fillOpacity: 0.75
    };
    </script>
{% endblock %}